/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: linear-gradient(135deg, #cdd5ae, #d3a373);
  --menu-color: #e9edca;
  --bnt-color: #536312;
  --bnt-hover-color: #cdd5ae;
  --text-color: #333;
}

@font-face {
    font-family: 'FontePrincipal';
    src: url('BILLO___.TTF') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  background-color: var(--menu-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 10;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.logo-text {
  font-family: 'FontePrincipal', Arial, sans-serif;
  font-size: 1.5rem;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  position: relative;
  transition: color 0.3s;
}

.menu a:hover,
.menu a.active {
  color: var(--bnt-color);
}

/* ===== WRAPPER ===== */
#wrapper {
  margin-top: 100px;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* ===== HEADER ===== */
.header-section {
  text-align: center;
  margin-bottom: 20px;
}

.header-section h2 {
  color: var(--bnt-color);
  margin-bottom: 10px;
}


/* ===== FORM DE FILTRO ===== */
.filter-section {
  margin-bottom: 30px;
}

.filter-section form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group input,
.form-group select:hover {
    border-color: var(--bnt-color);
    outline: none;
}

.btn {
  padding: 10px 18px;
  background-color: var(--bnt-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--bnt-hover-color);
  color: #111;
}

/* ===== TABELA ===== */
.table-section table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

th {
  color: var(--bnt-color);
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}
